.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.withAlignRight {
  flex-direction: row;
}

.left {
  width: fit-content;
  max-width: 600px;
  max-height: 400px;
}

.title {
  font-size: var(--puck-font-size-l);
  font-weight: 400;
  margin: 0;
}

.subtitle {
  color: var(--puck-color-grey-4);
  font-size: var(--puck-font-size-m);
  line-height: 1.5;
  margin: 0;
  margin-bottom: 8px;
  /* font-weight: 300; */
}

.right {
  width: fit-content;
  min-width: 200px;
  max-width: 600px;
  max-height: 400px;
}

.img {
  height: 100%;
  object-fit: cover;
}

