.container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  gap: 2rem;
}

.withAlignRight {
  flex-direction: row;
}

.left {
  flex: 1;
}

.title {
  font-size: var(--puck-font-size-l);
}

.subtitle {
  color: var(--puck-color-grey-4);
  font-size: var(--puck-font-size-m);
  line-height: 1.5;
  margin: 0;
  margin-bottom: 8px;
  /* font-weight: 300; */
}

.right {
  flex: 1;
}

